@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f4f6;
  font-family: "Inter var";
}
.nav {
  display: flex I !important;
  flex-direction: row !important;
  background-color: #a2d2ff;
  justify-content: center;
  align-items: center;
  gap: 30%;
}
input,
input:focus {
  width: 18em !important ;
  outline: none !important;
  box-shadow: none !important;
  font-family: "arial";
}

form {
  display: flex !important;
  gap: 1.2em;
  justify-content: center !important;
  align-items: center !important;
}
.content {
  display: grid;
  gap: 5em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 4em;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 40%;
  left: 45%;
  animation: spin 2s linear infinite;
}
.spinner {
  position: absolute;
  top: 40%;
  left: 45%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
